<template>
    <div class="container">
        <form @submit="login">
            <input
                type="email"
                v-model="email"
                placeholder="Correo electrónico"
                required
            />
            <input
                type="password"
                v-model="password"
                placeholder="Contraseña"
                required
            />
            <button type="submit">Iniciar sesión</button>
            <p v-if="error" class="error">{{ error }}</p>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            email: "",
            password: "",
            error: "",
        };
    },
    methods: {
        login() {
            axios
                .post("/login", {
                    email: this.email,
                    password: this.password,
                })
                .then((response) => {
                    // Redirigir al usuario a la página de inicio después del inicio de sesión exitoso
                    this.$router.push("/index");
                })
                .catch((error) => {
                    // Manejar errores de inicio de sesión
                    if (error.response && error.response.status === 401) {
                        this.error =
                            "Credenciales incorrectas. Por favor, inténtelo de nuevo.";
                    } else {
                        this.error =
                            "Se produjo un error. Por favor, inténtelo de nuevo más tarde.";
                    }
                });
        },
    },
};
</script>
